{% extends 'base.html' %}
{% load home_extras %}
{% block title %}Pending achievements{% endblock %}
{% block heading %}Pending achievements{% endblock %}
{% block content %}
    <table>
        <thead>
            <th>Student Name</th>
            <th>Event Name</th>
            <th>Achievement Type</th>
            <th>Date</th>
            <th>Verify</th>
        </thead>
        {% for achievement in pending %}
            <tr>
                <td>{{ achievement.student.user.first_name }} {{ achievement.student.user.last_name }}</td>
                <td>{{ achievement.event_name }}</td>
                <td>{{ achievement.achievement_type|achievement_type }}</td>
                <td>{{ achievement.date }}</td>
                <td>
                    <a href="{% url 'home:toggle_approval' achievement.id %}">Verify</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
