{% extends 'base.html' %}

{% block title %} Dashboard - SAMS {% endblock %}

{% block heading %} Welcome to SAMS, {{ user_name }}! {% endblock %}

{% block content %}

{% if usertype == "student" %}
<div>
    <p> Add a new achievement (Students only) </p>
    <a href="{% url 'home:create achievement' %}">Add An Achievement</a>
</div>

<div>
    <p> View all achievements </p>
    <a href="{% url 'home:student_achievments_view' %}">View Achievements</a>
</div>
{% endif %}

{% if usertype == "faculty" %}
<div>
    <p> View all achievements </p>
    <a href="{% url 'home:faculty_achievments_view' %}">View Achievements</a>
</div>

<div>
    <p> Review pending achievements (Faculty only) </p>
    <a href="{% url 'home:faculty_achievments_view' %}">Review Pending Achievements</a>
</div>
{% endif %}

<div>
    <p> Log Out </p>
    <a href="{% url 'users:logout' %}">Log Out</a>
</div>

{% endblock %}